Unity/*.csproj
Unity/*.unityproj
Unity/*.sln
Unity/*.suo
Unity/*.tmp
Unity/*.user
Unity/*.userprefs
Unity/*.pidb
Unity/*.booproj
Unity/*.svd
Unity/*.pdb
Unity/*.mdb
Unity/*.opendb

Unity/.idea/
Unity/.vs/
Unity/.gradle/

Unity/Builds/
Unity/Library/
Unity/Logs/
Unity/obj/
Unity/Temp/
Unity/Assets/SceneDependencyCache/

Unity/_UpgradeReport_Files/

Unity/Assets/Plugins/Editor/JetBrains/**/*
Unity/Assets/Plugins/Editor/JetBrains.meta

Unity/unity_log*

*.pidb.meta
*.pdb.meta
*.mdb.meta

*.apk
*.unitypackage

sysinfo.txt